.git
.gitignore
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
data/
*.pt
!data/
!data/models/
!data/models/*.pt
!data/out/
!data/out/text_pages/
!data/out/text_pages/models/
!data/out/text_pages/models/*.pt
*.log
